@use "../functions" as *;
@use "../variables" as *;
@use "sass:math";

@mixin handlePossibleLongWord($maxNumberOfLines) {
  display: -webkit-box;
  -webkit-line-clamp: $maxNumberOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin headingWithSpacing($fontSize) {
  font-size: getFontSize($fontSize);
  letter-spacing: calc(getFontSize($fontSize) / 20); // -> 5% letter spacing
}

@mixin paragraphWithSpacing($fontSize) {
  font-size: getFontSize($fontSize);
  letter-spacing: calc(getFontSize($fontSize) / 69); // -> ~1.4% letter spacing
}
