
# GENERAL ENV
PORT = 4000
NODE_ENV = dev
CLIENT = localhost

# JWT
JWT_SECRET = the_jwt_secret_of_doom_and_despair
JWT_EXP = 28800000

# DB URLS
DATABASE_URL = postgres://postgres:yourpass@localhost:5432/yourdb