@use "../../../../abstracts" as *;

.projects {
  display: grid;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  gap: 4rem;

  > li {
    @include flexCenter(row);
  }
}

.zeroProjects {
  @include flexCenter(row);
  width: 100%;
  height: 100%;

  > p {
    font-size: getFontSize("h4-tablet");
    color: var(--warning-yellow);
    letter-spacing: 5px;
    transition: transform 0.5s ease-in;

    cursor: pointer;

    &:hover {
      transform: scale(1.75) rotate3d(0, 0, 1, 720deg);
      font-style: italic;
    }
  }
}
