@use "../../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  max-width: 125rem;

  @media (max-width: getScreenSize("laptop-2")) {
    gap: 1rem;
  }
}

.wrapper {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
  justify-content: space-between;

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    gap: 3rem;
  }
}
