@use "../../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
}

.wrapper {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
  justify-content: space-between;
}
