@use "../../../../abstracts" as *;

.container {
  @include flexCenter(column);
  position: relative;
  width: 100%;
  max-height: 100%;
  height: 38rem;

  overflow-y: scroll;

  border-radius: round(5);

  background-color: var(--tertiary);
}

.logo {
  @include flexCenter(row);
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  padding: 1rem;
  border-radius: round(10);
  background-color: getLightColor(primary);

  @media (max-width: getScreenSize("laptop-2")) {
    left: 1.5rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    left: 0.75rem;
    top: 0.75rem;
    padding: 0.5rem;
  }
}

.content {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 3rem;

  padding: 3rem 2rem;

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 3rem 1rem;
  }
}

.header {
  @include flexCenter(column);
  width: 100%;
  gap: 0.5rem;

  > h4 {
    @include headingWithSpacing("h4-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h4-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h5-phone");
    }
  }

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--primary-opposite);
    font-style: italic;

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("p-medium");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("small-h");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include paragraphWithSpacing("p-medium");
      text-align: center;
    }
  }
}

.techContent {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;
}

.article {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 1rem;

  > h5 {
    @include headingWithSpacing("h5-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h5-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 1.5rem;

  > p {
    @include paragraphWithSpacing("p-medium");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include paragraphWithSpacing("p-small");
    }
  }
}
