@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  gap: 1rem;

  > a > img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    transition: transform 0.2s ease-in;

    &:hover {
      transform: rotate(-15deg) scale(1.1);
    }
  }
}
