@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
  padding: 0rem 20rem;
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
}

.intro {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > h2 {
    @include headingWithSpacing("h2-laptop");
    color: var(--primary-opposite);
  }

  > p {
    @include headingWithSpacing("p-large");
    color: var(--body-text);
    width: 60%;
    text-align: center;
  }
}
