@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  gap: auto;
  width: 100%;
  padding: 3rem 6rem;
  gap: 2rem;
  background-color: var(--tertiary);
  margin-top: auto;

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 3rem 4rem;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    padding: 2.5rem 3rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 2rem 1rem;
  }
}
