@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  background-color: var(--tertiary);
  gap: 1.5rem;
  width: 31.25rem;
  padding-bottom: 1.5rem;

  transition: transform 0.2s ease-in;

  > img {
    width: 100%;
    height: auto;
  }

  &:hover {
    transform: scale(1.01);
  }

  @media (max-width: getScreenSize("base")) {
    width: 28rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    width: 25rem;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    width: 20rem;
  }
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;

  > h6 {
    @include headingWithSpacing("h6-laptop");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    cursor: pointer;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h6-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("small-h");
    }
  }

  > p {
    @include paragraphWithSpacing("p-medium");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include paragraphWithSpacing("p-small");
    }
  }
}

.buttons {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}

.externals {
  @include flexCenter(row);
  gap: 1rem;
}

.contentWrapper {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
}
