@use "../../../abstracts" as *;

.entities {
  @include flexCenter(row);
  flex-wrap: nowrap;
  list-style: none;

  padding: 1rem 8rem;

  gap: 1rem;

  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  @media (max-width: getScreenSize("laptop-2")) {
    padding: 0.5rem 3rem;
    gap: 0.75rem;
  }

  > li {
    width: 1.25rem;
    height: 1.25rem;

    border-radius: round(50);

    cursor: pointer;

    flex-shrink: 0;

    @media (max-width: getScreenSize("laptop-2")) {
      width: 1rem;
      height: 1rem;
    }
  }
}

.images {
  @include flexCenter(row);
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  background-color: var(--primary);

  gap: 2rem;

  padding: 0.5rem 8rem;

  list-style: none;

  @media (max-width: getScreenSize("laptop-2")) {
    gap: auto;
    padding: 0.5rem 4rem;
  }

  > li {
    border-radius: round(50);
    width: 1.25rem;
    height: 1.25rem;

    cursor: pointer;

    @media (max-width: getScreenSize("laptop-2")) {
      width: 1rem;
      height: 1rem;
    }
  }
}
