@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  width: 100%;
  padding: 0 16rem;
  gap: 26rem;

  @media (max-width: 2200px) {
    padding: 0rem 12rem;
    gap: 16rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 8rem;
    gap: 6rem;
    justify-content: space-between;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
    gap: 4rem;
  }

  > img {
    width: 25rem;
    height: 25rem;
    border-radius: 5%;

    @media (max-width: getScreenSize("laptop-1")) {
      width: 17.5rem;
      height: 17.5rem;
    }
  }
}

.content {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
  }

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    max-width: 72ch;

    @media (max-width: getScreenSize("laptop-1")) {
      text-align: center;
    }
  }
}

.header {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
  }

  > h1 {
    @include headingWithSpacing("h1-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h1-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h1-phone");
    }
  }

  > h2 {
    @include headingWithSpacing("h2-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h2-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h2-phone");
    }
  }

  > h3 {
    @include headingWithSpacing("h4-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h4-phone");
    }
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
  margin-top: 2rem;
}
