@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  width: 100%;
  padding: 0 16rem;
  gap: 26rem;

  > img {
    width: 25rem;
    height: 25rem;
    border-radius: 5%;

    @media (max-width: getScreenSize("laptop-1")) {
      width: 17.5rem;
      height: 17.5rem;
    }

    @media (max-width: getScreenSize("tablet-2")) {
      width: 11.5rem;
      height: 11.5rem;
    }
  }

  @media (max-width: 2200px) {
    padding: 0rem 12rem;
    gap: 16rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 8rem;
    gap: 6rem;
    justify-content: space-between;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 0rem 4rem;
    gap: 4rem;
    flex-direction: column;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    padding: 0rem 4rem;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    padding: 0rem 3rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 0rem 1rem;
    gap: 2rem;
  }
}

.content {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 3rem;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 2rem;
  }

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);

    @media (max-width: getScreenSize("laptop-1")) {
      text-align: center;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include paragraphWithSpacing("p-medium");
      width: 80%;
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include paragraphWithSpacing("p-small");
      width: 80%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }
}

.header {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
  }

  > h1 {
    @include headingWithSpacing("h1-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h1-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h1-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h2-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h3-phone");
      text-align: center;
    }
  }

  > h2 {
    @include headingWithSpacing("h2-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h2-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h2-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h3-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h4-phone");
      text-align: center;
    }
  }

  > h3 {
    @include headingWithSpacing("h4-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h4-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h5-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
  margin-top: 2rem;

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}
