@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;

  padding: 0 16rem;

  @media (max-width: 2200px) {
    padding: 0rem 9rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 6rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 0rem 4rem;
    gap: 4rem;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    padding: 0rem 4rem;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    padding: 0rem 2rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 0rem 1rem;
  }
}
