@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;

  padding: 0 16rem;

  @media (max-width: 2200px) {
    padding: 0rem 12rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 8rem;
  }
}

.header {
  @include flexCenter(column);
  gap: 1.5rem;

  > h1 {
    @include headingWithSpacing("h1-laptop");
    color: var(--primary-opposite);
  }

  > h2 {
    @include headingWithSpacing("h2-laptop");
    color: var(--primary-opposite);
  }

  > h4 {
    @include headingWithSpacing("h4-laptop");
    color: var(--primary-opposite);
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
  margin-top: 2rem;
}
