@use "../functions" as *;
@use "../variables" as *;
@use "sass:map";

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin pageLayout() {
  width: 100%;
  @include flexCenter(column);
}

@mixin setVariablesBasedOnGivenTheme($theme) {
  @each $key, $value in map.get($colors, $theme) {
    --#{$key}: #{$value};
  }

  @each $key, $value in map.get($colors, extra) {
    --#{$key}: #{$value};
  }
}
