@use "../../abstracts" as *;

.container {
  @include flexCenter(row);
  text-decoration: none;
}

.image {
  width: auto;
  height: 3rem;

  cursor: pointer;

  transition: transform 0.2s ease-in;

  &:hover {
    transform: rotate(10deg) scale(1.05);
  }

  @media (max-width: getScreenSize("laptop-1")) {
    height: 2.5rem;
  }
}
