@use "../../abstracts" as *;

.container {
  @include flexCenter(row);
  text-decoration: none;

  > img {
    width: auto;
    height: 3rem;

    cursor: pointer;

    transition: transform 0.2s ease-in;

    &:hover {
      transform: rotate(10deg) scale(1.05);
    }
  }
}
