@use "../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;

  padding: 0 20rem;
}

.header {
  @include flexCenter(column);
  gap: 1.5rem;

  > h1 {
    font-size: getFontSize("h1-laptop");
    letter-spacing: 4px;
    color: var(--primary-opposite);
  }

  > h2 {
    font-size: getFontSize("h2-laptop");
    letter-spacing: 3px;
    color: var(--primary-opposite);
  }

  > h4 {
    font-size: getFontSize("h4-tablet");
    letter-spacing: 5px;
    color: var(--primary-opposite);
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
  margin-top: 2rem;
}
