@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  max-width: 67rem;

  padding: 2rem 4rem;
  background-color: var(--secondary);

  border-radius: round(5);

  gap: 6rem;

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 2rem 3rem;
  }
}

.controls {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
}

.personal {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  gap: 4rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
