@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);

  padding: 2rem 4rem;
  background-color: var(--secondary);

  border-radius: round(5);

  gap: 6rem;
}

.controls {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
}

.personal {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
}
