@use "../../../abstracts" as *;

.content {
  @include flexCenter(column);
  width: fit-content;
  gap: 2rem;
  align-items: flex-start;
}

.method {
  @include flexCenter(row);
  gap: 3rem;
  justify-content: flex-start;

  > h4 {
    font-size: getFontSize("h4-tablet");
    letter-spacing: 5px;
    color: var(--primary-opposite);
  }

  > h5 {
    font-size: getFontSize("h5-tablet");
    letter-spacing: 2px;
    color: var(--primary-opposite);
  }
}
