@use "../../../abstracts" as *;

.content {
  @include flexCenter(column);
  width: fit-content;
  gap: 2rem;
  align-items: flex-start;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
    gap: 6rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 2rem;
  }
}

.method {
  @include flexCenter(row);
  gap: 3rem;
  justify-content: flex-start;

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 1.5rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  > h4 {
    @include headingWithSpacing("h4-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-tablet");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h5-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h6-phone");
    }
  }

  > h5 {
    @include headingWithSpacing("h5-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h6-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("button-label-medium");
    }
  }
}
