@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  justify-content: space-between;
  gap: 1rem;

  width: 100%;

  padding: 1rem 6rem;

  background-color: var(--tertiary);

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 1rem 4rem;
  }

  @media (max-width: 1250px) {
    padding: 1rem 3rem;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    justify-content: flex-start;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    padding: 1rem 2rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 1rem 1rem;
  }

  @media (max-width: 350px) {
    gap: 0.5rem;
  }
}
