@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);

  @media (max-width: getScreenSize("laptop-2")) {
    margin-right: auto;
  }

  > a {
    @include flexCenter(row);
    text-decoration: none;

    > h6 {
      @include headingWithSpacing("h6-tablet");
      transition: transform 0.2s ease;
      color: var(--labels);

      &:hover {
        transform: scale(1.035);
        font-style: italic;
      }

      @media (max-width: getScreenSize("laptop-1")) {
        @include headingWithSpacing("h6-phone");
      }

      @media (max-width: getScreenSize("tablet-2")) {
        @include headingWithSpacing("button-label-medium");
      }

      @media (max-width: 350px) {
        @include headingWithSpacing("button-label-small");
      }
    }
  }
}
