@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
}

.links {
  @include flexCenter(row);
  gap: 2rem;
  list-style: none;

  @media (max-width: getScreenSize("laptop-1")) {
    gap: 1rem;
  }

  @media (max-width: 1250px) {
    gap: 0.75rem;
  }

  > li {
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }
    > a {
      @include paragraphWithSpacing("p-medium");
      width: 100%;
      text-decoration: none;
      color: var(--labels);
    }
  }
}
