@use "../../../../../abstracts" as *;

.languageSwitcherSelectContainer {
  @include flexCenter(row);
  width: max-content;
  height: max-content;
  position: relative;

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.035);
    font-style: italic;
  }

  > img {
    border: 1.25px solid var(--primary);
    border-radius: 0.25rem;
  }
}

.languageSwitcherSelectFormControl {
  @include flexCenter(column);
  height: 100%;
  width: 100%;
  position: absolute;

  > select {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
