@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  gap: 1rem;

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  > svg {
    transition: transform 0.1s ease-in;
    font-size: 1.35rem;

    &:hover {
      transform: rotate(360deg);
    }

    &:nth-of-type(1) {
      color: var(--success-green);
    }

    &:nth-of-type(2) {
      color: var(--delete-red);
    }

    @media (max-width: getScreenSize("tablet-1")) {
      font-size: 1rem;
    }

    @media (max-width: getScreenSize("tablet-2")) {
      font-size: 0.75rem;
    }
  }
}

.message {
  @include headingWithSpacing("h6-tablet");
  width: 100%;
  color: var(--warning-yellow);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.005);
    font-style: italic;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    @include paragraphWithSpacing("p-large");
  }
  @media (max-width: getScreenSize("tablet-2")) {
    @include paragraphWithSpacing("p-medium");
  }
}

.intro {
  @include flexCenter(row);
  gap: 0.5rem;

  > label {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h6-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("small-h");
    }
  }

  > svg {
    color: var(--primary-opposite);
    transition: transform 0.1s ease-in;
    font-size: 1.35rem;

    &:hover {
      transform: rotate(360deg);
    }

    @media (max-width: getScreenSize("tablet-1")) {
      font-size: 1rem;
    }

    @media (max-width: getScreenSize("tablet-2")) {
      font-size: 0.75rem;
    }
  }
}

.controls {
  @include flexCenter(row);
  gap: 2rem;

  justify-content: flex-start;
  flex-wrap: wrap;
}
