@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  gap: 1rem;
}

.message {
  @include headingWithSpacing("h6-tablet");
  width: 100%;
  color: var(--warning-yellow);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.005);
    font-style: italic;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    @include paragraphWithSpacing("p-large");
  }
}

.intro {
  @include flexCenter(row);
  gap: 0.5rem;

  > label {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h6-phone");
    }
  }

  > svg {
    color: var(--primary-opposite);
    transition: transform 0.1s ease-in;
    font-size: 1.35rem;

    &:hover {
      transform: rotate(360deg);
    }

    @media (max-width: getScreenSize("tablet-1")) {
      font-size: 1rem;
    }
  }
}

.controls {
  @include flexCenter(row);
  gap: 2rem;
}
