@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;
}

.article {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;
}

.header {
  @include flexCenter(row);
  width: 100%;
  gap: 2rem;

  @media (max-width: getScreenSize("laptop-2")) {
    flex-direction: column;
    gap: 1rem;
  }

  > h5 {
    @include headingWithSpacing("h5-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-tablet");
    }
  }
}

.icons {
  @include flexCenter(row);
  gap: 1rem;
}

.content {
  @include flexCenter(column);
  gap: 2rem;
  width: 100%;
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    max-width: 100ch;
    text-align: center;

    @media (max-width: getScreenSize("tablet-1")) {
      @include paragraphWithSpacing("p-medium");
      max-width: none;
      width: 100%;
    }
  }
}

.externals {
  @include flexCenter(column);
  gap: 1rem;
}

.external {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  gap: 1ch;

  > span {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
  }

  > a {
    @include paragraphWithSpacing("p-large");
    text-decoration: none;
    color: var(--labels);
  }
}
