@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  width: 100%;
  padding: 0 16rem;
  gap: 26rem;

  @media (max-width: 2200px) {
    padding: 0rem 12rem;
    gap: 16rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 8rem;
    gap: 8rem;
    justify-content: space-between;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
    gap: 4rem;
  }

  > img {
    width: 25rem;
    height: 25rem;
    border-radius: 5%;

    @media (max-width: getScreenSize("laptop-1")) {
      width: 17.5rem;
      height: 17.5rem;
    }
  }
}

.content {
  @include flexCenter(column);
  gap: 4rem;
}

.intro {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > h2 {
    @include headingWithSpacing("h2-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h2-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h2-phone");
    }
  }
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    text-align: center;
    max-width: 86ch;
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
}
