@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  padding: 0 40rem;
  gap: 6rem;
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
}

.intro {
  @include flexCenter(column);
  gap: 3rem;

  > h2 {
    font-size: getFontSize("h2-laptop");
    letter-spacing: 3px;
    color: var(--primary-opposite);
  }

  > p {
    color: var(--body-text);
    font-size: getFontSize("p-large");
    letter-spacing: 0.35px;
    text-align: center;
    max-width: 86ch;
    width: fit-content;
  }
}
