@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
  padding: 0rem 14rem;

  @media (max-width: 2200px) {
    padding: 0rem 9rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 6rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 0rem 4rem;
    gap: 4rem;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    padding: 0rem 4rem;
  }

  @media (max-width: getScreenSize("tablet-1")) {
    padding: 0rem 3rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    padding: 0rem 1.5rem;
    gap: 3rem;
  }

  @media (max-width: 400px) {
    padding: 0rem 1rem;
  }
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;

  @media (max-width: getScreenSize("laptop-2")) {
    gap: 3rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 2rem;
  }
}

.intro {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  @media (max-width: getScreenSize("laptop-2")) {
    gap: 1.5rem;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 1rem;
  }

  > h1 {
    @include headingWithSpacing("h1-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h1-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h1-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h2-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h4-phone");
    }
  }

  > h2 {
    @include headingWithSpacing("h2-laptop");
    color: var(--primary-opposite);
    text-align: center;

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h2-tablet");
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h2-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h3-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h5-phone");
    }
  }

  > h4 {
    @include headingWithSpacing("h4-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-phone");
    }
    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-phone");
    }
    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h6-phone");
    }
    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    width: 55%;
    text-align: center;

    @media (max-width: getScreenSize("laptop-1")) {
      width: 80%;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include paragraphWithSpacing("p-medium");
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("p-small");
    }
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}
