@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
  padding: 0rem 20rem;
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
}

.intro {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > h1 {
    font-size: getFontSize("h1-laptop");
    letter-spacing: 4px;
    color: var(--primary-opposite);
  }

  > h2 {
    font-size: getFontSize("h2-laptop");
    letter-spacing: 3px;
    color: var(--primary-opposite);
  }

  > h4 {
    font-size: getFontSize("h4-tablet");
    letter-spacing: 5px;
    color: var(--primary-opposite);
  }
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    color: var(--body-text);
    font-size: getFontSize("p-large");
    letter-spacing: 0.35px;
    width: 55%;
    text-align: center;
  }

  > h4 {
    font-size: getFontSize("h4-tablet");
    letter-spacing: 5px;
    color: var(--primary-opposite);
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
}
