@use "../../../abstracts" as *;

.container {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
  padding: 0rem 16rem;

  @media (max-width: 2200px) {
    padding: 0rem 12rem;
  }

  @media (max-width: getScreenSize("base")) {
    padding: 0rem 8rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    padding: 0rem 4rem;
    gap: 4rem;
  }
}

.content {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
}

.intro {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;

  > h1 {
    @include headingWithSpacing("h1-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h1-tablet");
    }
  }

  > h2 {
    @include headingWithSpacing("h2-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h2-tablet");
    }
  }

  > h4 {
    @include headingWithSpacing("h4-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-phone");
    }
  }
}

.paragraphs {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    width: 55%;
    text-align: center;

    @media (max-width: getScreenSize("laptop-1")) {
      width: 80%;
    }
  }
}

.buttons {
  @include flexCenter(row);
  gap: 4rem;
}
