* {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1F1F1F;
    color: #F8F9FA;
}

h1{
    font-size: 5rem;
    letter-spacing: 3.5px;

    transition: transform 10s linear;
}

h1:hover{
    transform: rotate3d(5, 5, 5, 670deg);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 12.5rem;
}

.content > p{
    font-size: 2rem;
    letter-spacing: 1px;
}

.content > a {
    color: #3794FF;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1.5px;

    transition: transform 0.05s linear;
}

.content > a:hover{
    transform: scale(1.1);
}