@use "./variables" as *;
@use "sass:color";

@function getFontSize($fontSize) {
  $found: null;

  @each $name, $value in $fontSizes {
    @if $name == $fontSize {
      $found: $value;
    }
  }

  @if $found == null {
    @error "Font size '#{$fontSize}' not found in $fontSizes map";
  }

  @return $found;
}

@function getScreenSize($size) {
  @return map-get($map: $screenSizes, $key: $size);
}
