@use "./variables" as *;
@use "sass:color";
@use "sass:map";

@function getDarkColor($color) {
  $found: null;
  @each $name, $value in map.get($colors, dark) {
    @if $name == $color {
      $found: $value;
    }
  }

  @if $found == null {
    @error "Color '#{$color}' not found in $colors dark map";
  }

  @return $found;
}

@function getLightColor($color) {
  $found: null;
  @each $name, $value in map.get($colors, light) {
    @if $name == $color {
      $found: $value;
    }
  }

  @if $found == null {
    @error "Color '#{$color}' not found in $colors dark map";
  }

  @return $found;
}

@function getColorWithOpacity($color, $opacity) {
  @return color.change($color, $alpha: $opacity);
}

@function getFontSize($fontSize) {
  $found: null;

  @each $name, $value in $fontSizes {
    @if $name == $fontSize {
      $found: $value;
    }
  }

  @if $found == null {
    @error "Font size '#{$fontSize}' not found in $fontSizes map";
  }

  @return $found;
}

@function getScreenSize($size) {
  @return map-get($map: $screenSizes, $key: $size);
}

@function opposite($color, $theme) {
  @if $theme == "dark" {
    @return getLightColor($color);
  } @else {
    @return getDarkColor($color);
  }
}
