* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
