$colors: (
  light: (
    "primary": #f8f9fa,
    "secondary": #ffffff,
    "tertiary": #e9ecef,
    "body-text": #1e1e1e,
    "labels": #616161,
    "placeholder-text": #858585,
    "buttons": #0078d4,
    "active": #0056b3,
  ),
  dark: (
    "primary": #1f1f1f,
    "secondary": #181818,
    "tertiary": #2d2d2d,
    "body-text": #cccccc,
    "labels": #989898,
    "placeholder-text": #6e7681,
    "buttons": #0078d4,
    "active": #4da6ff,
  ),
  extra: (
    "purple-special": #bf5af2,
    "warning-yellow": #d29922,
    "success-green": #3fb950,
    "delete-red": #f85149,
  ),
);

$theme: "dark";

$fontSizes: (
  "p-small": 16px,
  "p-medium": 18px,
  "p-large": 21px,

  "button-label-small": 14px,
  "button-label-medium": 16px,
  "button-label-large": 20px,

  "h1-laptop": 117.8px,
  "h2-laptop": 88.4px,
  "h3-laptop": 66.3px,
  "h4-laptop": 49.7px,
  "h5-laptop": 37.3px,
  "h6-laptop": 28px,

  "h1-tablet": 101px,
  "h2-tablet": 75.8px,
  "h3-tablet": 56.8px,
  "h4-tablet": 42.6px,
  "h5-tablet": 32px,
  "h6-tablet": 24px,

  "h1-phone": 68.7px,
  "h2-phone": 54.9px,
  "h3-phone": 44px,
  "h4-phone": 35.2px,
  "h5-phone": 28.1px,
  "h6-phone": 22.5px,

  "small-h": 18px,
);

$screenSizes: (
  "base+": 2560px,
  // change this later
  "base": 1800px,
  "laptop-1": 1500px,
  "laptop-2": 1200px,
  "tablet-1": 900px,
  "tablet-2": 600px,
  // here might be another range
  "phone-1": 320px,
);
