@use "../../../../abstracts" as *;

.container {
  @include flexCenter(row);
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  gap: 8rem;

  > li {
    width: 27.5%;
  }

  @media (max-width: getScreenSize("base")) {
    gap: 5rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    gap: 3rem;
  }
}

.fancy {
  @include flexCenter(column);
  list-style: none;
  gap: 4rem;

  padding: 2rem;
  border-radius: round(5);
  background-color: var(--secondary);

  max-width: 25%;

  @media (max-width: getScreenSize("base")) {
    gap: 3rem;
  }

  @media (max-width: getScreenSize("laptop-1")) {
    gap: 2rem;
    max-width: initial;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;

    > li {
      flex: 1;
    }
  }
}
