@use "../../../abstracts" as *;

.content {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 8rem;

  margin-top: 2rem;

  @media (max-width: 400px) {
    margin-top: 0;
  }

  > img {
    height: auto;

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: fit-content;
  }

  @media (max-width: getScreenSize("tablet-2")) {
    gap: 3rem;
  }
}
