@use "../../abstracts" as *;

.link {
  @include flexCenter(row);
  border-radius: round(50);
  padding: 0.5rem 1.5rem;
  background-color: var(--warning-yellow);

  font-size: getFontSize("button-label-large");
  color: getDarkColor("primary");
  font-weight: 600;
  letter-spacing: 0.25px;

  text-decoration: none;

  box-shadow: 0 2px 4px
    color-mix(in srgb, var(--primary-opposite) 10%, transparent);
  &:hover {
    box-shadow: 0 4px 8px
      color-mix(in srgb, var(--primary-opposite) 20%, transparent);
  }
}
