@use "../../../../abstracts" as *;

.container {
  @include flexCenter(column);
  gap: 2rem;
  align-items: flex-start;
}

.intro {
  @include flexCenter(column);
  align-items: flex-start;

  > h4 {
    @include headingWithSpacing("h4-laptop");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h4-tablet");
    }
  }

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--primary-opposite);
    font-style: italic;

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("p-medium");
    }
  }
}

.coverage {
  @include flexCenter(column);
  align-items: flex-start;

  gap: 1rem;

  > h5 {
    @include headingWithSpacing("h5-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-phone");
    }
  }

  > p {
    @include paragraphWithSpacing("p-large");
    display: list-item;
    list-style-position: inside;
    color: var(--primary-opposite);
    font-style: italic;

    @media (max-width: getScreenSize("laptop-2")) {
      @include paragraphWithSpacing("p-medium");
    }
  }
}

.ingredientsWrapper {
  @include flexCenter(column);
  align-items: flex-start;

  gap: 1rem;

  > h5 {
    @include headingWithSpacing("h5-tablet");
    color: var(--primary-opposite);

    @media (max-width: getScreenSize("laptop-2")) {
      @include headingWithSpacing("h5-phone");
    }
  }
}

.ingredients {
  @include flexCenter(column);
  align-items: flex-start;
  list-style-position: inside;
  gap: 1rem;

  > li {
    @include paragraphWithSpacing("p-large");
    display: list-item;
    list-style-position: inside;
    color: var(--primary-opposite);
    font-style: italic;

    transition: transform 0.2s ease-in;

    &:hover {
      transform: translateX(0.2rem);
    }

    @media (max-width: getScreenSize("laptop-2")) {
      @include paragraphWithSpacing("p-medium");
    }
  }
}
