@use "../../../../abstracts" as *;

.container {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 12rem;

  @media (max-width: getScreenSize("laptop-1")) {
    gap: 4rem;
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }
}
