@use "../../../../abstracts" as *;

.container {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;

  min-width: 30%;
  max-width: 40%;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
    min-width: initial;
    max-width: initial;
    width: 100%;
  }
}

.header {
  @include flexCenter(column);
  gap: 1rem;
  align-items: flex-start;

  @media (max-width: getScreenSize("laptop-1")) {
    align-items: center;
  }

  > h4 {
    @include headingWithSpacing("h4-tablet");
    width: 100%;
    color: var(--primary-opposite);
    transition: transform 0.2s ease;

    cursor: pointer;

    &:hover {
      transform: scale(1.015);
      font-style: italic;
    }

    @media (max-width: getScreenSize("laptop-1")) {
      @include headingWithSpacing("h4-phone");
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h5-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("h6-phone");
      text-align: center;
    }
  }

  > h6 {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);
    transition: transform 0.2s ease;
    font-style: italic;

    cursor: pointer;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("h6-phone");
    }

    @media (max-width: getScreenSize("tablet-2")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.content {
  @include flexCenter(column);
  gap: 2rem;
  align-items: flex-start;
}

.awards {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  > h6 {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    cursor: pointer;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.awardsWrapper {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  > li {
    @include flexCenter(column);
    align-items: flex-start;

    > p {
      @include paragraphWithSpacing("p-large");
      display: list-item;
      list-style-position: inside;
      color: var(--body-text);
      max-width: 66ch;
      width: fit-content;

      transition: transform 0.2s ease-in;

      &:hover {
        transform: translateX(0.2rem);
      }

      @media (max-width: getScreenSize("tablet-2")) {
        @include paragraphWithSpacing("p-small");
        max-width: none;
        width: 100%;
      }
    }
  }
}

.desc {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  > h6 {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    cursor: pointer;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("small-h");
    }
  }

  > p {
    @include paragraphWithSpacing("p-large");
    color: var(--body-text);
    max-width: 66ch;
    width: fit-content;

    @media (max-width: getScreenSize("tablet-2")) {
      @include paragraphWithSpacing("p-small");
      max-width: none;
      width: 100%;
    }
  }
}

.tech {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;

  > h6 {
    @include headingWithSpacing("h6-tablet");
    color: var(--primary-opposite);

    transition: transform 0.2s ease;

    cursor: pointer;

    &:hover {
      transform: scale(1.035);
      font-style: italic;
    }

    @media (max-width: getScreenSize("tablet-1")) {
      @include headingWithSpacing("small-h");
    }
  }
}

.techWrapper {
  @include flexCenter(row);
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;

  > li {
    @include flexCenter(column);
  }
}

.buttons {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;

  margin-top: 2rem;

  @media (max-width: getScreenSize("tablet-2")) {
    margin-top: 1rem;
  }
}
