@use "../../abstracts" as *;

.container {
  @include flexCenter(column);
  position: absolute;
  width: 30%;

  z-index: 50;

  background-color: var(--primary-opposite);

  gap: 1rem;

  padding: 2rem;

  @media (max-width: getScreenSize("laptop-1")) {
    width: 50%;
  }

  @media (max-width: getScreenSize("laptop-2")) {
    width: 80%;
  }

  > h3 {
    @include headingWithSpacing("h6-phone");
    color: var(--primary);
    text-align: center;
  }

  > p {
    color: var(--primary);
    @include paragraphWithSpacing("p-medium");
    text-align: center;
  }

  > svg {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--delete-red);

    cursor: pointer;

    transition: transform 0.3s ease-in;

    &:hover {
      transform: rotate(180 * 10deg);
    }
  }
}
