@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  width: 100%;
  align-items: flex-start;
  gap: 4rem;

  @media (max-width: getScreenSize("laptop-1")) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
