@use "../../../abstracts" as *;

.container {
  @include flexCenter(row);
  width: 100%;
  align-items: flex-start;
  gap: 4rem;

  @media (max-width: 1900px) {
    gap: 2.5rem;
  }

  @media (max-width: 1550px) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
